@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    @foreach (var game in Model.Games) {
        <div class="p-3 bg-info m-2">
            <p>@game.Title kategoria: @game.Category w cenie: @game.Price zł</p>
        </div>
    }
</div>