<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Aplikacja MVC asp.core</h1>
<div class="menu">
    <ul>
        <li>
            <a asp-controller="My" asp-action="MyAction">Strona My akcja MyAction</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Action2">Strona Home akcja Action2</a>
        </li>
    </ul>
</div>
    <div>
        @RenderBody()
    </div>
</body>
</html>