@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KursWebMVC_1</title>
    <link rel="stylesheet" href="~/css/photo-sharing-styles.css" />
</head>
<body>
<h1>Widok z photos</h1>


<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Powrót na stronę główną</a>
</div>
</body>
</html>