@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party</title>
</head>
<body>
<div>
    <div>
        Zapraszamy na WSPANIAŁE PARTY<br/>
        (Weź coś ze sobą do żarła i...)
    </div>
    <a asp-action="RsvpForm">Formularz zgłoszeniowy</a>
</div>

</body>
</html>