@model WebMVCParty_1.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
</head>
<body>
<div>
    <h1>Dziękujemy: @Model.Name</h1>
    @if (Model.WillAttend == true)
    {
        @:Jest nam miło, że będziesz
    }
    else
    {
        @:Szkoda, edzie nam brakowało Ciebie
    }
</div>
Tu możesz zobaczyć <a asp-action="ListResponses">kto będzie</a>

</body>
</html>
