@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>żółta łódź podwodna</p>
    <p>Info z: @ViewData["ii"]</p>
    <div class="badge badge-dark p-3 m-3">@Model.Info</div>
</div>
