@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witamy</h1>
    <h3>Teraz losowa kolęda</h3>
    <div class="badge badge-info p-2 border-dark">
        @Model.Koleda
    </div>
   
</div>
