@page
@model RazorPageWithAdoNet_Gim.Pages.FilmPageModel
@{
}

<div class="container">
    <form >
        <div class="form-group">
            <label asp-for="MyFilm.Title"></label>
            <input asp-for="MyFilm.Title"/>
        </div>
    </form>
</div>
