@page
@using RazorPageWithAdoNet_Gim.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
   
    
    <div>
        <ul>
            @foreach (Film film in Model.Films) {
                <li>@film.Title autor: @film.Author w cenie: @film.Price zł</li>
            }
        </ul>
    </div>
</div>
