body {
    background-color: lightgray;
}
.content {
    display: flex;
    flex-direction: row;
}
.content img{ width: 200px;}
.content div{ width: 50%;}
.baner{display: flex;}
.baner>div{ background-color: lightcoral; text-transform: capitalize;}
