input[type=button]{
    padding: 5px;
    margin: 5px;
    margin-left: 150px;
    width: 120px;
}
h1{
    text-align: center;
    border-bottom: solid 1px grey;
}
label{
    display: inline-block;
    width: 180px;
    text-align: right;
    padding-right: 2px;
}
.line{
    margin: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}
#wynik{
    margin-top: 30px;
}
fieldset{
    margin: 0;
    padding-left: 0;
}
.error{
    color:red;
}
.container>div{
    width: 50%;
}