@page
@model FromEmptyToRP_SP.Pages.ObliczenieNWDModel
@{
}
<div>
    <div>
        <form id="nwd" method="post">
            <fieldset>
                <legend>Największy wspólny dzielnik</legend>
            </fieldset>
        </form>
    </div>
</div>
