@page
@model FromEmptyToRP_SP.Pages.RekeruncjaModel
@{
}
<h3>Obliczanie <span class="wyr">NWD</span> oraz <span class="wyr"> Silnia</span> rekurencyjnie i iteracyjnie</h3>
<div id="wrapper">
    <div>
        <form id="nwd" method="post">
            <fieldset>
                <legend>Największy wspólny dzielnik</legend>
            </fieldset>
        </form>
    </div>
    <div>
        <form id="silnia" method="post">
            <fieldset>
                <legend>Silnia</legend>
            </fieldset>
        </form>
    </div>
</div>
