@page
@model WebEmptyVS2019RazorPages.Pages.Nowa1Model
@{
}
<div>
    <form method="post">
        <div class="line">
            <label for="imie">Podaj imię: </label>
            <input type="text" name="imie" id="imie" required/>
        </div>
        <div class="line">
            <label for="nazwisko">Podaj nazwisko: </label>
            <input type="text" name="nazwisko" id="nazwisko" required />
        </div>
        <div class="line">
            <label for="wiek">Podaj wiek: </label>
            <input type="number" name="wiek" id="wiek" required min="0" max="130"/>
        </div>
        <input type="submit" value="Zapisz"/>
    </form>
</div>
@if (Model.IsPost) {
    <div>
        Witaj @Model.Imie @Model.Nazwisko jesteś: 
        <span style="font-weight: bold">@Model.IsAdult()</span>
    </div>
}
