@page
@model MyApp.Namespace.Nowa2Model
@{
}
<h3>Nowa2</h3>
<div>
    <form method="post">
        <div class="line">
            <label for="A">Podaj A: </label>
            <input type="number" name="A" />
        </div>
        <div class="line">
            <label for="B">Podaj B: </label>
            <input type="number" name="B" />
        </div>
        <input type="submit" value="Zapisz" />
    </form>
</div>