table{
    border-collapse: collapse;
    width: 50%;

}
tr:nth-child(even){
    background-color: lightblue;
}
td,th{
    border: solid 1px black;
    padding: 5px;
}
table.tab-mnozenia{
    border-collapse: collapse;
    width: auto;
}
.error{
    color: red;
}
.right{
    text-align: right;
}