body{margin: 0;padding: 0;}
h1{text-align: center;border: solid 1px green;}
.line{ margin: 25px;}
label{ display: inline-block; width: 150px;text-align: right;}
input[type=submit]{ padding: 10px;width: 150px;margin-left: 150px;}