@page
@model AdoNet_Posts.Pages.ListOfPostsModel
@{
}
<div class="container">
    <h1 class="badge-dark p-3 m-2 w-100 text-center">Lista aktualnych postów</h1>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Tytuł posta</th>
            <th>Zawartość</th>
            <th>Date utworzenia</th>
        </tr>
        @foreach (var item in Model.Posts) {
            <tr>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.Date.Date.ToLongDateString()</td>
            </tr>
        }
    </table>
</div>