
<h2>
    Witaj z akcji index w widoku Index 
</h2>

<p>@ViewBag.hello</p>

<p>
    
    Nazwa kontrolera: @ViewBag.controller Nazwa akcji: @ViewBag.action <br/>
    @*@ControllerContext.ActionDescriptor.ControllerName*@
</p>