h1{
    font-size: 4em;
    text-align: center;
}

.main {
    color: green;
    text-align: center;
}

.rr {
    background-color: blue;
}
.menu ul {
    list-style: none;
}
    .menu ul li a {
        text-decoration: none;
        text-transform: uppercase;
    }