<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
<h1>Strona Layout</h1>
<nav>
    <ul>
        <li><a asp-page="/Index">Główna strona</a></li>
        <li><a asp-page="/Nowa1">Podstrona 1</a></li>
        <li> <a asp-page="/Bmi">Współczynnik BMI</a> </li>
        <li><a asp-page="/NWD">Oblicznie NWD</a></li>
    </ul>
</nav>
<div style="background-color: lightskyblue">
    @RenderBody()
</div>
</body>
</html>
