table{
    width: 80%;
    border-collapse: collapse;
}
td,th{
    border: solid 1px black;
    padding: 5px;
}
th{
    background-color: lightgray;
}
td.age{
    text-align: right;
}
#container{
    padding: 10px;
    border: solid 1px black;
}