@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div>
        <a asp-controller="MyForm" asp-action="NoModel">Formularz bez modelu</a>
    </div>
    <div>
        <a asp-controller="MyForm" asp-action="WithModel">Formularz z modelem</a>
    </div>
</div>
